<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-lazy-init="false">
	<!-- 排行榜 -->
	<bean id="rankTask" class="com.cai310.lottery.task.RankTask" />
	<!-- 战绩 -->
	<bean id="gradeTask" class="com.cai310.lottery.task.GradeTask" />
	
	<!-- 排行榜 -->
	<bean id="rankTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject" ref="rankTask" />
				<property name="targetMethod" value="work" />
				<property name="concurrent" value="false" />
			</bean>
		</property>	
		<property name="cronExpression">
			<value>0 0-30/1 1 * * ?</value>
			<!-- <value>0 0/1 * * * ?</value> -->
		</property>	
	</bean>
	
	<!-- 战绩 -->
	<bean id="gradeTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject" ref="gradeTask" />
				<property name="targetMethod" value="work" />
				<property name="concurrent" value="false" />
			</bean>
		</property>	
		<property name="cronExpression">
			<value>0 0-30/1 2 * * ?</value>
			<!-- <value>0 0/1 * * * ?</value> -->
		</property>	
	</bean>

	<!-- 触发任务 -->	
	<bean name="quartzScheduler_user" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- 排行榜 
				<ref local="rankTaskTrigger" /> -->
				<!-- 战绩 
				<ref local="gradeTaskTrigger" /> -->
			</list> 
		</property>
        <property name="configLocation" value="classpath:quartz.properties" />
	</bean>

</beans>