@charset "utf-8";
/* CSS Document */
h2{ margin:0px auto;
   padding:0px;
	
	line-height:30px;
	font-family:Arial, "宋体";
	font-size:14px;
	
	font-weight:bold;
	
}
#index_center{
   margin:0px auto;
   padding:0px;
   width:980px;      
   }

.main1{
   width:980px;
   height:247px;
}
   
.main2{
   width:980px;
   height:62px;
   margin-top:8px;}
   
.main3{
    width:980px;
   height:321px;
   margin-top:8px;}
   
.main4{
   width:980px;
   margin-top:8px;}
   
.main5{
   width:980px;
   height:219px;
   margin-top:8px;}
   
.main6{
   width:980px;
   /*height:231px;*/
   margin-top:8px;
   margin: 0px auto;
   padding: 0px;
   text-align: center;}
   
.main_dlqu{
   float:left;
   width:679px;
   height:247px;}
   
.main_newk { float:left; WIDTH: 292px; margin-left:6px; display:inline;}

.main_new {
	BORDER-BOTTOM: #dbdbdb 1px solid; 
	BORDER-LEFT: #dbdbdb 1px solid; 
	PADDING-BOTTOM: 2px; 
	LINE-HEIGHT: 20px; 
	PADDING-LEFT: 12px; 
	WIDTH: 268px; 
	PADDING-RIGHT: 12px; 
	HEIGHT: 143px; 
	BORDER-TOP: #dbdbdb 1px solid; 
	BORDER-RIGHT: #dbdbdb 1px solid; 
	PADDING-TOP: 2px;
}


   
.main_dlqu .denglukuang{
   float:left;
   width:268px;
   height:172px;
   border:#fbbf93 1px solid;
   background:url(../images/index_dl_bg.gif) repeat-x;
   margin-right:6px;
   _MARGIN-RIGHT:4px;}

.dl_anniu{
   margin:0px auto;
   padding:0px;
   width:237px;
   margin-top:20px;}
   
.dl_anniu input,.dl_anniu2 input{ margin-left:1px; margin-right:1px;}
   
.dl_anniu2{
   margin:0px auto;
   padding:0px;
   width:237px;
   margin-bottom:7px;}
   
.dl_dlkwz{
	margin:0px auto;
	padding:0px;
	text-align:center;
	width:235px;
	color:#a01c02;
	font-size:14px;
	font-weight:bold;
	line-height: 25px;
	margin-top:12px;}

.dlh{
    margin-top:8px;
	padding-left:15px;
	width:253px;
	height:29px;
	float:left;
}
	
.dlh_huanyingtu{
   float:left;
   padding-right:4px;}
	
.dlh_huanying{
    float:left;
	font-size:16px;
	font-weight:bold;
	line-height:29px;
	margin-top:1px;}
	
.dlh_hongse{
    color:#c61e02;}
	
.dlh_time{
    width:252px;
	height:20px;
	padding-left:16px;
	float:left;
	margin-top:5px;}
	
.dlh_anniu{
   text-align:center;
   margin-top:9px;
   padding-left:17px;   
   float:left;
   margin-bottom:4px;
   height:62px;
}

.dlh_hyzx_link,.dlh_zjtz_link,.dlh_kscz_link,.dlh_zxtk_link{
    float:left;
	margin-bottom:4px;}

.dlh_hyzx_link a{
    width:95px;
	height:28px;
	display:block;
	background:url(../images/index_dengluhou_10.gif) no-repeat;
	font-size:14px;
	font-weight:bold;
	color:#d82103;
	text-decoration:none;
	line-height:28px;
	padding-left:18px;
     }
	
.dlh_hyzx_link a:hover{
    width:95px;
	height:28px;
	display:block;
	background:url(../images/index_dengluhou2_10.gif) no-repeat;
	color:#ba1b01;
	text-decoration:none;
	padding-left:18px;}
	
.dlh_zjtz_link a{
    width:95px;
	height:28px;
	display:block;
	background:url(../images/index_dengluhou_12.gif) no-repeat;
	font-size:14px;
	font-weight:bold;
	color:#d82103;
	text-decoration:none;
	line-height:28px;
	padding-left:18px;
     }
	
.dlh_zjtz_link a:hover{
    width:95px;
	height:28px;
	display:block;
	background:url(../images/index_dengluhou2_12.gif) no-repeat;
	color:#ba1b01;
	text-decoration:none;
	padding-left:18px;} 
	
.dlh_kscz_link a{
    width:95px;
	height:28px;
	display:block;
	background:url(../images/index_dengluhou_16.gif) no-repeat;
	font-size:14px;
	font-weight:bold;
	color:#d82103;
	text-decoration:none;
	line-height:28px;
	padding-left:18px;
     }
	
.dlh_kscz_link a:hover{
    width:95px;
	height:28px;
	display:block;
	background:url(../images/index_dengluhou2_16.gif) no-repeat;
	color:#ba1b01;
	text-decoration:none;
	padding-left:18px;}
	
.dlh_zxtk_link a{
    width:95px;
	height:28px;
	display:block;
	background:url(../images/index_dengluhou_17.gif) no-repeat;
	font-size:14px;
	font-weight:bold;
	color:#d82103;
	text-decoration:none;
	line-height:28px;
	padding-left:18px;
     }
	
.dlh_zxtk_link a:hover{
    width:95px;
	height:28px;
	display:block;
	background:url(../images/index_dengluhou2_17.gif) no-repeat;
	color:#ba1b01;
	text-decoration:none;
	padding-left:18px;} 
	
.dlh_fgx{
    clear:both;
    margin:0px auto;
	padding:0px;
    height:2px;
	width:94%;
	background:url(../images/index_dengluhou_fgx.gif) repeat-x;
	overflow:hidden;}
 
.dlh_ymy{
    width:259px;
	padding-left:9px;
	padding-top:3px;
	cursor:pointer;}
   

.main_dlqu .zd_banner{
   float:left;
   width:402px;
   height:174px;
   }
   
.main_dlqu .xssl{
   width:679px;
   height:67px;
   background:url(../images/index_xssl.gif) no-repeat;
   margin-top:6px;
   float:left;
  }

.main_new ul h2{
   text-align:center;
   font-size:20px;
   color:#960000;
   margin-top:6px;
   margin-bottom:7px;}

.main_new ul h2 a{ color:#000000;}
.main_new ul h2 a:hover{ color:#FF3300;}
   
.main_new ul{
   margin:0px;
   padding:0px;
   list-style:none;}
   
.main_new ul li{
   list-style:none;
   line-height:23px;}

.main_new ul li a{ color:#000000;}
.main_new ul li a:hover{ color:#FF3300;}

.red{color:#000000;}
.red a:link,.red a:visited{color:#FF3300;}
.red a:hover,.red a:active{color:#FF3300;}

.main2 .banner1{
   float:left;
   width:679px;
   height:62px;}
   
.main2 .m1{
   float:right;
   width:292px;
   height:61px;
   padding-top:1px;}
   
.main2 .m1 .m1_anniu1{
   width:143px;
   float:left;
   margin-right:5px;
   margin-left:1px;
   display:inline;}
   
.main2 .m1 .m1_anniu2{
   width:143px;
   float:left;}
   
.kjgg{
   float:left;
   width:677px;
   height:319px;
   border:#dbdbdb 1px solid;}
  
.kjgg_bg{
   margin:0px;
   padding:0px;
   height:29px;
   width:677px;
   background:url(../images/index_kjgg_03.gif) repeat-x;
   }
   
.kjgg_bg_img{
   width:23px;
   height:22px;
   padding-top:5px;
   padding-left:9px;
   float:left;} 
   
.kjgg_bg_bt{
   float:left;
   line-height:29px;
   font-size:14px;
   font-weight:bold;} 
   
.kjgg_right{
   float:right;
   height:29px;
   font-weight:normal;
   color:#0480eb;
   font-size:14px;
   margin-right:9px;
   display:inline;}
   
.kjgg_right a:link{color:#0480eb; text-decoration:none;}
.kjgg_right a:visited{color:#0480eb;text-decoration:none;}
.kjgg_right a:hover{color:#FF3300;text-decoration:none;}
.kjgg_right a:active{color:#0480eb;text-decoration:none;}

.kjgg_nr{
   margin:0px auto;
   padding:0px; 
   width:654px;
   margin-top:7px;
   border-collapse:collapse;
   word-warp:break-word;}
   
.kjgg_nr td{
	height:27px;
	line-height:27px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e8e8e8;
	text-align:center;
}
   
.kjgg_nr .dingt{
	height:28px;
	background:#ebebeb;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ebebeb;
	text-align:center;
	color:#0355dd;
	font-weight:bold;
	font-size:13px;
	line-height:28px;
}

.kjgg_nr .hongqiu{
    width:20px;
	text-align:center;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	background:url(../images/qiu_00002.gif) no-repeat 1px 5px;}
	
.kjgg_nr .lanqiu{
    width:20px;
	text-align:center;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	background:url(../images/qiu_00003.gif) no-repeat 1px 5px;}
	
.kjgg_nr .chengqiu{
    width:20px;
	text-align:center;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	background:url(../images/qiu_00004.gif) no-repeat 1px 5px;}
	
.kjgg_nr a:link{color:#000; text-decoration:none;}
.kjgg_nr a:visited{color:#000;text-decoration:none;}
.kjgg_nr a:hover{color:#FF3300;text-decoration:none;}
.kjgg_nr a:active{color:#000;text-decoration:none;}
     
.zxzj{
   float:right;
   width:292px;
   height:319px;
   border:#dbdbdb 1px solid;}
   
.zxzj_bg{
   margin:0px;
   padding:0px;
   height:29px;
   width:292px;
   background:url(../images/index_kjgg_03.gif) repeat-x;}
   
.zxzj ul {
   list-style:none; 
   margin:0px; 
   padding:0px; 
   padding-left:0px; 
   margin-left:0px;}
   
.zxzj ul{
   padding-left:12px;
   padding-right:12px;
   padding-top:12px;
   padding-bottom:7px;}
   
.zxzj ul li{
	padding-left:11px;
	background-image: url(../images/f_icon.gif);
	background-repeat: no-repeat;
	background-position: 0px 50%;
	line-height:23px;
}

.zxzj ul li a:link{color:#000; text-decoration:none;}
.zxzj ul li a:visited{color:#000;text-decoration:none;}
.zxzj ul li a:hover{color:#FF3300;text-decoration:none;}
.zxzj ul li a:active{color:#000;text-decoration:none;}

.zxzj ul li span{ color:#f40114;}

.cp_k_left{
    width:484px;
/*height:196px;*/
border:#91BFD5 1px solid;
background:#E0F1F9;
float:left;
padding-bottom:6px; }

	
	
	
	
	
.cp_k_right{
    width:484px;
/*height:196px;*/
border:#91BFD5 1px solid;
background:#E0F1F9;
float:right;
padding-bottom:6px;}


	
.cp_white{
    margin:0px auto;
padding:0px;
    width:446px;
/*height:174px;*/
background:#FFFFFF;
margin-top:5px;
padding-top:7px;
padding-bottom:7px;
padding-left:14px;
padding-right:14px;}


	
.cp_tu{
    float:left;
	width:149px;
	height:71px;
	margin-top:8px;
	margin-right:15px;}
	
.cp_inp_left{
    float:left;
	line-height:20px;
	width:280px;
	height:80px;
	margin-top:2px;}
	
.cp_inp_left a:link{color:#000; text-decoration:none;}
.cp_inp_left a:visited{color:#000;text-decoration:none;}
.cp_inp_left a:hover{color:#FF3300;text-decoration:none;}
.cp_inp_left a:active{color:#000;text-decoration:none;}
.cp_inp_left span{color:#f40114;}
	
.cp_clear{
    clear:both;
	overflow:hidden;}
	
.cp_clear1{clear:both;}
	
.cp_fenxi{
	margin:0px auto;
	padding:0px;
	width:440px;
	margin-top:10px;
	color:#000000;
	text-align: center;
	font-weight:bold;}

.cp_xinwen{
    margin-top:3px;
width:440px;
/*height:60px;*/}
	
.cp_xinwen ul {
   list-style:none; 
   margin:0px; 
   padding:0px; 
   padding-left:0px; 
   margin-left:0px;}
   
.cp_xinwen ul li{
	padding-left:10px;
	background-image: url(../images/f_icon.gif);
	background-repeat: no-repeat;
	background-position: 0px 50%;
	line-height:20px;
	float:left;
	width:205px;
	margin-right:5px;}

.cp_xinwen ul li a:link{color:#000; text-decoration:none;}
.cp_xinwen ul li a:visited{color:#000;text-decoration:none;}
.cp_xinwen ul li a:hover{color:#FF3300;text-decoration:none;}
.cp_xinwen ul li a:active{color:#000;text-decoration:none;}

.kong_8ge{ 
    height:8px;
	display:block;
	clear:both;
	line-height:1px;
	font-size:1px;
	clear:both;}

.cyy_cbanner{
    width:980px;
	height:80px;}
	
.czzl{
   float:left;
   width:320px;
   height:217px;
   border:#dbdbdb 1px solid;}
   
.czzl_bg{
   margin:0px;
   padding:0px;
   height:29px;
   width:320px;
   background:url(../images/index_kjgg_03.gif) repeat-x;}
   
.czzl_bg_img{
   width:23px;
   height:22px;
   padding-top:3px;
   padding-left:9px;
   padding-right:3px;
   float:left;}
   
.czzl_waikuang{
   margin:0px auto;
   padding:0px;
   width:305px;
   height:175px;
   margin-top:5px;}

.czzl_tab{
   margin:0px;
   padding:0px;
   width:305px;
   height:24px;
   background:url(../images/czzl_tab_bg.gif) repeat-x;}
	
.czzl_tab ul{ 
    list-style:none;
	margin-left:4px;
	padding-left:0px;}
	
.czzl_tab ul li{ 
    list-style:none;
	float:left;}
	
.czzl_tab li a span{
	color:#0B6AAB;
	font-weight:bold;
	background: url(../images/czzl_tab_teqian.gif) no-repeat;
	display:block;
	height:24px;
	width:57px;
 }
 
.czzl_tab li a{
	margin-left:3px;
	text-decoration:none;
	display:block;
	width:57px;
	height:24px;
	padding:0px;
	text-align:center;
	line-height:24px;
	font-family:Arial, "宋体";
	font-size:12px;
	color:#4982A4;
}

.czzl_tab li a:hover{
    background: url(../images/czzl_tab_teqian.gif) no-repeat;
	color:#0B6AAB;
	font-weight:bold;}
	
.czzl_s{
    margin:0px;
	padding:0px;
	margin-top:5px;
	color:#282828;}

.czzl_s ul{
   margin:0px;
   padding:0px;
   list-style:none;}
   
.czzl_s ul li{
   list-style:none;
   line-height:25px;
   float:left;
   margin-right:12px;
   margin-left:4px;
   display:inline;
   width:277px;}

.czzl_s li a{ color:#282828;}
.czzl_s li a:hover{ color:#FF3300;}

.kjgg_bg_kfrx{
   float:right;
   line-height:29px;
   font-size:12px;
   font-weight:bold;
   margin-right:5px;} 
   
.kjgg_bg_kfrx span{
   font-size:14px;
   color:#dd0101;}

.kfrx_1{ height:70px;}

.kfrx_mm{
   float:left;
   width:65px;
   height:68px;
   margin-top:4px;
   margin-left:5px;
   margin-right:10px;}

.kfrx_wzjs{
   float:left;
   width:217px;
   line-height:20px;
   margin-top:7px;
   display:inline;}

.kfrx_wyzx_anniu{
	width:210px;
	height:22px;
	margin-right:4px;
	text-align: right;}
	
.kfrx_xuxian{
    margin:0px auto;
	padding:0px; 
    height:1px;
	border-bottom:#666666 1px dotted;
	width:297px;
	overflow:hidden;
	clear:both;
	margin-top:12px;
	margin-bottom:9px;}
	
/*尾部*/
.xsdh_index{
	width:980px;
	height:81px;
	background-image: url(../images/index_xsdh_bg.gif);
	background-repeat: repeat-x;
	text-align:left;
}
	
.xsdh1{
    margin:0px auto;
	padding:0px;
    float:left;
	margin-right:15px;
	width:280px;
	text-align:left;}
	
.xsdh_kong{
    margin:0px auto;
	padding:0px;
    float:left;
	width:50px;
	height:81px;}
	
.xsdh_index_tu{
    float:left;
	width:64px;
	height:81px;
	margin-top:0px;
	margin-right:15px;}
	
.xsdh_index_left{
    float:left;
	line-height:20px;
	width:200px;
	height:73px;
	margin-top:8px;
	color:#666666;}

.xsdh_index_left b{ font-size:14px;}
	
.xsdh_index_left a:link{color:#666666; text-decoration:none;}
.xsdh_index_left a:visited{color:#666666;text-decoration:none;}
.xsdh_index_left a:hover{color:#FF3300;text-decoration:none;}
.xsdh_index_left a:active{color:#666666;text-decoration:none;}
	
	
	
.rmss_index{
	width:957px;
	height:68px;
	background-image: url(../images/index_rmss_bg.gif);
	background-repeat: repeat-x;
	color:#d58026;
	padding-top:15px;
	padding-left:21px;
	text-align:left;	
	line-height:22px;
	border:1px solid #E8D9C4;
	}	

	
.kong_3ge{ 
    height:5px;
	display:block;
	clear:both;
	line-height:1px;
	font-size:1px;
	clear:both;}	
	
.rmss_index a:link{color:#6C4B4B; text-decoration:none;}
.rmss_index a:visited{color:#6C4B4B;text-decoration:none;}
.rmss_index a:hover{color:#FF5723; text-decoration:underline;}
.rmss_index a:active{color:#6C4B4B;text-decoration:none;}	
	
.rmss_index B,.link_index B{ color:#FF5723;}	

.link_index{
	width:969px;
	height:56px;
	color:#7f7f7f;
	padding-top:11px;
	padding-left:11px;
	text-align:left;}
	
.link_index a:link{color:#7f7f7f; text-decoration:none;}
.link_index a:visited{color:#7f7f7f;text-decoration:none;}
.link_index a:hover{color:#FF3300; text-decoration:underline;}
.link_index a:active{color:#7f7f7f;text-decoration:none;}