@charset "utf-8";
/*开奖频道专用样式*/
.kj_bantbg{width:780px;height:65px;background:url(../images/kj_tban.jpg) no-repeat;padding:0 10px 0 190px;}
.kj_bant{padding-top:13px;width:780px; display:block;}
.kj_bant ul{ font-family:Arial, Helvetica, sans-serif; }
.kj_bant li{list-style-type:none; margin:0px; padding-right:4px; font-size:14px; font-weight:bold; float:left;display:block; }
.kj_bant li a{ color:#377591; padding:2px 0px; display:block;}
.kj_bant li a:hover{ color:#ff3300; text-decoration:none; padding:2px 0px; display:block;}
.kj_bant li a.now,.kj_bant li a.now:hover{ background:#2D96D9; padding:2px 5px; display:block; color:#fff;text-decoration:none;}
.kj_bant li span{ color:#9F7D70; margin:0 4px; font-size:12px; font-weight:normal;}
.kj_kb1{ border:1px solid #C3D5DC; display:block; width:978px; height:auto; }
.kj_t001{width:968px;height:30px;background:#28A7D0;padding-left:10px; line-height:30px; font-size:14px; font-weight:bold; color:#fff;}
.kj_t001 h1{font-size:14px; font-weight:bold; color:#fff;}
.kj_datewz{ width:948px; padding:5px 15px 0 15px; height:30px; display:block; line-height:25px;}
.kj_jtitle{height:26px;background:#D3EDF5;padding-left:10px; line-height:26px; display:block;}
.kj_jtitle span{ font-size:14px; font-weight:bold; color:#3E86A8;}
.kj_jtitle h2{ font-size:14px; font-weight:bold;line-height:26px;}

/* 红球蓝球 */
.kjballn ul{}
.kjballn li{margin:0px; padding-right:2px; float:left;}
.ballrsingle{background:url(../images/ball_r_2727.gif) no-repeat;height:27px;width:27px;font-size:14px;font-family: Arial, Helvetica,"宋体";color:#FFFFFF;font-weight:bold;text-align:center;line-height:27px; display:block;}
.ballbsingle{background:url(../images/ball_b_2727.gif) no-repeat;height:27px;width:27px;font-size:14px;font-family: Arial, Helvetica,"宋体";color:#FFFFFF;font-weight:bold;text-align:center;line-height:27px;display:block;}
/*表格*/
.center_tablegray{background:#F1EEE7;}
.center_trgray{background:#F9F9F9;}
.center_trgray td{border-bottom:1px solid #EAEAEA;}
.center_trw{ background:#fff;  }
.center_trw td{border-bottom:1px solid #EAEAEA;}
/*详细WZ*/
.kj_dtwz{ padding:25px 20px; width:938px; display:block;}
.bottomb1{border-bottom:1px solid #F6D3B3; background:#f8f8f8;}
.kj_number{ border:1px solid #E3E3E3; border-bottom:none; border-top:none; margin:0 auto; text-align:center; display:block; height:35px; line-height:35px; padding:8px 0 0 0;}
.kj_buybg{ background:#FEFBF6;}
